# Node
node_modules/
npm-debug.log*
package-lock.json

# Next.js
.next/
out/
*.log

# Playwright
playwright-report/
test-results/
blob-report/

# Env
.env
.env.local

# Selenium
chromedriver.log

# OS
.DS_Store
Thumbs.db
